body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #373A40;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
}

nav a:hover {
    color: #DC5F00;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.sidebar {
    flex-basis: 15%;
    background-color: #373A40;
    padding: 20px;
    color: #fff;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar a:hover {
    color: #DC5F00;
}


.main-content {
    flex-basis: 75%;
    background-color: #fff;
    padding: 20px;
    color: #000000;
}

footer {
    background-color: #373A40;
    color: #fff;
    text-align: center;
    padding: 10px;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Services paragraph */
.service {
    margin-left: 50px;
    display: inline-block;
    padding: 7px 12px;
    background-color: #fff;
}

.about-image {
    background-color: #000000;

        
}



